{% if intent.bgp %}
router bgp {{ intent.bgp.asn }}
 bgp router-id {{ intent.bgp.router_id }}
{% for neighbor in intent.bgp.neighbors %}
 neighbor {{ neighbor.peer_ip }} remote-as {{ neighbor.remote_asn }}
{% if neighbor.description %}
 neighbor {{ neighbor.peer_ip }} description {{ neighbor.description }}
{% endif %}
{% if neighbor.password %}
 neighbor {{ neighbor.peer_ip }} password {{ neighbor.password }}
{% endif %}
{% endfor %}
 address-family ipv4 unicast
{% for prefix in intent.bgp.neighbors | map(attribute="announced_prefixes") | sum(start=[]) | unique %}
  network {{ prefix.network_address }} mask {{ prefix.netmask }}
{% endfor %}
{% for neighbor in intent.bgp.neighbors %}
  neighbor {{ neighbor.peer_ip }} activate
{% endfor %}
{% endif %}
