{% for iface in intent.interfaces %}
interface {{ iface.name }}
{% if iface.description %}
 description {{ iface.description }}
{% endif %}
{% if iface.mtu != 1500 %}
 mtu {{ iface.mtu }}
{% endif %}
{% if iface.ipv4_address %}
 ip address {{ iface.ipv4_address.ip }} {{ iface.ipv4_address.netmask }}
{% endif %}
{% if iface.enabled %}
 no shutdown
{% else %}
 shutdown
{% endif %}
{% endfor %}
