!Software Version V200R005C10SPC607B607
#
sysname leaf2
#
telnet server disable
telnet ipv6 server disable
#
ip vpn-instance __MGMT_VPN__
 ipv4-family
#
aaa
 undo local-user policy security-enhance
 local-user admin password irreversible-cipher $1c$yBvtPI$b;E$@jjr6#!F[M}7U|*y_d&NRgZHIFlV=SX@YzG*$..)$
 local-user admin service-type ssh
 local-user admin user-group manage-ug
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default
 domain default_admin
#
# REASON: Оставляем внутренний адрес vrnetlab 10.0.0.15 для проброса SSH
interface MEth0/0/0
 undo shutdown
 ip binding vpn-instance __MGMT_VPN__
 ip address 10.0.0.15 255.255.255.0
#
# REASON: Loopback интерфейс с Router-ID
interface LoopBack0
 description Router-ID
 ip address 10.255.0.12 255.255.255.255
#
# REASON: Линк к spine-1: 'undo portswitch' переводит порт CE12800 в режим L3
interface GE1/0/0
 description Uplink to spine-1.croc.lab
 undo portswitch
 undo shutdown
 ip address 10.0.1.3 255.255.255.254
#
# REASON: Линк к spine-2: 'undo portswitch' переводит порт в режим L3
interface GE1/0/1
 description Uplink to spine-2.croc.lab
 undo portswitch
 undo shutdown
 ip address 10.0.1.7 255.255.255.254
#
# REASON: Линк к host-b: перевод в L3 и назначение шлюза 10.10.12.1/24 для host-b
interface GE1/0/9
 description Client link to host-b
 undo portswitch
 undo shutdown
 ip address 10.10.12.1 255.255.255.0
#
ip route-static vpn-instance __MGMT_VPN__ 0.0.0.0 0.0.0.0 10.0.0.2
#
# REASON: BGP процесс (ASN 65102): анонсирует подсеть host-b (10.10.12.0/24) обоим спайнам
bgp 65102
 router-id 10.255.0.12
 peer 10.0.1.2 as-number 65000
 peer 10.0.1.2 description spine-1.croc.lab
 peer 10.0.1.6 as-number 65000
 peer 10.0.1.6 description spine-2.croc.lab
 #
 ipv4-family unicast
  undo synchronization
  network 10.255.0.12 255.255.255.255
  network 10.10.12.0 255.255.255.0
  peer 10.0.1.2 enable
  peer 10.0.1.6 enable
#
stelnet server enable
ssh user admin authentication-type password
ssh user admin service-type all
ssh authorization-type default aaa
#
user-interface vty 0 4
 authentication-mode aaa
 protocol inbound ssh
#
return