!Software Version V200R005C10SPC607B607
#
sysname leaf1
#
telnet server disable
telnet ipv6 server disable
#
ip vpn-instance __MGMT_VPN__
 ipv4-family
#
aaa
 undo local-user policy security-enhance
 local-user admin password irreversible-cipher $1c$jU|Y'YL<fF$$Ue%Z"3LeX)=t7TNR]%7ZUc|1,7FvWW#y(Y|+Q6=$
 local-user admin service-type ssh
 local-user admin user-group manage-ug
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default
 domain default_admin
#
# REASON: Оставляем внутренний адрес vrnetlab 10.0.0.15 для проброса SSH
interface MEth0/0/0
 undo shutdown
 ip binding vpn-instance __MGMT_VPN__
 ip address 10.0.0.15 255.255.255.0
#
# REASON: Loopback интерфейс с Router-ID
interface LoopBack0
 description Router-ID
 ip address 10.255.0.11 255.255.255.255
#
# REASON: Линк к spine-1: 'undo portswitch' переводит порт CE12800 из L2 в режим L3 маршрутизатора
interface GE1/0/0
 description Uplink to spine-1.croc.lab
 undo portswitch
 undo shutdown
 ip address 10.0.1.1 255.255.255.254
#
# REASON: Линк к spine-2: 'undo portswitch' переводит порт в режим L3
interface GE1/0/1
 description Uplink to spine-2.croc.lab
 undo portswitch
 undo shutdown
 ip address 10.0.1.5 255.255.255.254
#
# REASON: Линк к host-a: перевод в L3 и назначение шлюза 10.10.11.1/24 для host-a
interface GE1/0/9
 description Client link to host-a
 undo portswitch
 undo shutdown
 ip address 10.10.11.1 255.255.255.0
#
ip route-static vpn-instance __MGMT_VPN__ 0.0.0.0 0.0.0.0 10.0.0.2
#
# REASON: BGP процесс (ASN 65101): анонсирует подсеть host-a (10.10.11.0/24) обоим спайнам
bgp 65101
 router-id 10.255.0.11
 peer 10.0.1.0 as-number 65000
 peer 10.0.1.0 description spine-1.croc.lab
 peer 10.0.1.4 as-number 65000
 peer 10.0.1.4 description spine-2.croc.lab
 #
 ipv4-family unicast
  undo synchronization
  network 10.255.0.11 255.255.255.255
  network 10.10.11.0 255.255.255.0
  peer 10.0.1.0 enable
  peer 10.0.1.4 enable
#
stelnet server enable
ssh user admin authentication-type password
ssh user admin service-type all
ssh authorization-type default aaa
#
user-interface vty 0 4
 authentication-mode aaa
 protocol inbound ssh
#
return