! Command: show running-config
! device: spine2 (cEOSLab, EOS-4.32.0F)
!
no aaa root
username admin privilege 15 role network-admin secret sha512 $6$8el7Sqjp8re5MhG3$Z00NJOkXHHld1v7okq4AEnc7DXkZBNrLhKjI9bxRc90bhR/Zx4SjzeWQ.UrDkSn57aQXTScokN9kblwcNOnTG/
transceiver qsfp default-mode 4x10G
service routing protocols model multi-agent
hostname spine2
spanning-tree mode mstp
!
# REASON: Включение IP-маршрутизации (в исходном конфиге стояло 'no ip routing', без этого Arista не маршрутизирует пакеты)
ip routing
!
# REASON: Loopback интерфейс с Router-ID для BGP
interface Loopback0
   description Router-ID
   ip address 10.255.0.2/32
!
# REASON: Перевод порта в режим маршрутизации (no switchport) и назначение IP /31 к Leaf1
interface Ethernet1
   description Downlink to leaf-1.croc.lab
   no switchport
   ip address 10.0.1.4/31
!
# REASON: Перевод порта в режим маршрутизации (no switchport) и назначение IP /31 к Leaf2
interface Ethernet2
   description Downlink to leaf-2.croc.lab
   no switchport
   ip address 10.0.1.6/31
!
# Management Arista (нативный контейнер clab)
interface Management0
   ip address 172.20.20.4/24
   ipv6 address 2001:172:20:20::4/64
!
ip route 0.0.0.0/0 172.20.20.1
ipv6 route ::/0 2001:172:20:20::1
!
# REASON: BGP процесс фабрики (ASN 65000): связь с Leaf1 (65101) и Leaf2 (65102)
router bgp 65000
   router-id 10.255.0.2
   neighbor 10.0.1.5 remote-as 65101
   neighbor 10.0.1.5 description leaf-1.croc.lab
   neighbor 10.0.1.7 remote-as 65102
   neighbor 10.0.1.7 description leaf-2.croc.lab
   network 10.255.0.2/32
!
management api http-commands
   no shutdown
!
end